[*.cs]

# SA1101: Prefix local calls with this
dotnet_diagnostic.SA1101.severity = silent

# SA1600: Elements should be documented
dotnet_diagnostic.SA1600.severity = silent

# SA1642: Constructor summary documentation should begin with standard text
dotnet_diagnostic.SA1642.severity = silent

# SA1201: Elements should appear in the correct order
dotnet_diagnostic.SA1201.severity = silent

# SA1625: Element documentation should not be copied and pasted
dotnet_diagnostic.SA1625.severity = silent

# SA1508: Closing braces should not be preceded by blank line
dotnet_diagnostic.SA1508.severity = silent

# SA1601: Partial elements should be documented
dotnet_diagnostic.SA1601.severity = silent

# SA1200: Using directives should be placed correctly
dotnet_diagnostic.SA1200.severity = silent

# SA1118: Parameter should not span multiple lines
dotnet_diagnostic.SA1118.severity = silent

# IDE0058: Expression value is never used
dotnet_diagnostic.IDE0058.severity = silent

# SA1413: Use trailing comma in multi-line initializers
dotnet_diagnostic.SA1413.severity = silent

# IDE0003: Remove qualification
dotnet_diagnostic.IDE0003.severity = silent

# SA1309: Field names should not begin with underscore
dotnet_diagnostic.SA1309.severity = silent
